<%
nav = [ [ [ 'browse', 'blob' ], 'Browse' ],
        [ [ 'log', 'commit' ], 'History' ],
        [ [ 'summary' ], 'Summary' ] ]
%>


<div id="refAppHeader">
  <nav>
    % if page.metadata.iconData:
    <img src="data:${page.metadata.iconType if page.metadata.iconType else ''};base64,${page.metadata.iconData}" class="refSummaryLogo">
    % endif
    <a href="?ref=${page.ref}&amp;a=summary"><h1>${page.metadata.name} - <small>${page.metadata.genericName}</small></h1></a>

    <ul class="nav nav-tabs">
    % for action in nav:
      <li role="presentation" ${ 'class="active"' if page.action in action[0] else '' }><a href="?ref=${page.ref}&amp;a=${action[0][0]}">${action[1]}</a></li>
    % endfor
    </ul>
  </nav>
  <div class="clearfix"></div>
</div>
