body {
    margin: 0
    padding: 0
}

.table tbody>tr>td{
    vertical-align: middle;
}

.container-wrapper {
    margin: 5px;
}

.container {
    max-width: 1040px;
    width: auto;
    padding: 0;
}

#header-wrapper {
    background: #C1D2EE;
    padding: 10px;
}

#header {
    max-width: 1040px;
    width: auto;
    margin: auto;
}

#refAppHeader nav {
    width: 100%;
    margin: auto;
    font-size: 25px;
    position: relative;
    height: 128px;
}


#refAppHeader nav a {
    font-size: 25px;
}

#refAppHeader .nav {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#refAppHeader .nav li {
    float: right;
}

#refAppHeader img {
    float: left;
}

#refAppHeader h1 {
    float: left;
    line-height: 128px;
    padding: 0;
    margin: 0;
    padding-left: 15px;
}

article {
    padding-top: 10px;
    padding-bottom: 10px;
}


#logo {
    float: left;
}

#title {
    float: left;
    padding-left: 30px;
    font-size: 40px;
}

#appsRow {
    margin: auto;
    padding-left: -5px;
    padding-right: -5px;
}

.refTile {
    display: block;
    width: 250px;
    height: 250px;
    float: left;
    text-align: center;
    border: 1px solid black;
    margin: 5px;
    padding: 0;
    text-decoration: none;
    color: #000;
}

.refTile:hover {
    text-decoration: none;
    background: #337AB7;
    color: #FFF;
}

.refTileContent {
    width: 100%;
    height: 250px;
    position: relative;
}

.refTileIcon {
    height: 128px;
    width: 128px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.refTileIconVert {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.refTile h2 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.refTileDesc {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.refSummaryScreenshots {
    margin: 10px;
}

.refSummaryScreenshots img {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer
}

.refSummaryReq {
    list-style: none;
    padding: 0;
}