<!DOCTYPE html>
<html lang="en">
<head>
    <title>KDE App Bundlers Browser</title>
    <meta charset="UTF-8"/>

    ## JQuery
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    ## Bootstrap
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    ## Our style
    <link rel="stylesheet" href="/static/style.css">

    ## Our script
    <script src="/static/js/main.js"></script>
</head>
<body>
<div id="header-wrapper">
  <div id="header">
    <div id="logo">
      <a href="/"><img src="/static/kde-logo.svg" alt="KDE App Bundlers Browser" width=64 height=64 /></a>
    </div>
    <div id="title">KDE App Bundles Browser</div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="container-wrapper">
  <div class="container">
  ${self.body()}
 </div>
</div>

<footer class="panel panel-default">
  <div class="panel-footer text-center">
    <a href="https://wiki.gnome.org/Projects/SandboxedApps">About Sandboxed Applications</a> |
    <a href="https://wiki.gnome.org/Projects/OSTree">About OSTree</a><br/>
    <a href="https://github.com/danvratil/xdg-app-repo-webui">xdg-app-repo-webui</a> by <a href="https://www.dvratil.cz">Daniel Vrátil</a> &lt;<a href="mailto:dvratil@redhat.com">dvratil@redhat.com</a>&gt;
  </div>
</footer>

</body>
</html>