<!DOCTYPE html>
<html lang="en">
<head>
    <title>KDE App Bundlers Browser</title>
    <meta charset="UTF-8"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Our style -->
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div id="header-wrapper">
  <div id="header">
    <div id="logo">
      <a href="/"><img src="/static/kde-logo.svg" alt="KDE App Bundlers Browser" width=64 height=64 /></a>
    </div>
    % if page.ref:
    <div id="title">
      % for breadcrumb in page.breadcrumbs:
          % if breadcrumb.url:
          <a href="${breadcrumb.url}">${breadcrumb.title}</a>&nbsp;/&nbsp;
          % else:
          ${breadcrumb.title}&nbsp;/&nbsp;
          % endif
      % endfor
    </div>
    <nav>
      <a href='?ref=${page.ref}&amp;a=summary'>summary</a> |
      <a href='?ref=${page.ref}&amp;a=log'>log</a> |
      <a href='?ref=${page.ref}&amp;a=browse'>browse</a>
    </nav>
    % else:
    <div id="title">KDE App Bundles Browser</div>
    % endif
    <div class="clearfix"></div>
  </div>
</div>
<div class="container-wrapper">
  <div class="container">
  ${self.body()}
 </div>
</div>
</body>
</html>