<%inherit file="base.html"/>

<%
from time import strftime as time
import ostree
%>

% if page.ref.type == ostree.Ref.Application:
    <%include file="partials/application_header.html" />
% else:
    <%include file="partials/runtime_header.html" />
% endif

<table class="table table-hover">
<tr>
  <th>Revision</th>
  <th width="100%">Message</th>
  <th>Date</th>
</tr>

% for entry in page.log:
<tr>
  <td><a href="?ref=${page.ref}&amp;a=commit&amp;rev=${entry.rev}">${entry.rev}</a></td>
  <td>
  % if entry.message:
    ${entry.message.split('\n', 1)[0]}
  % else:
    Empty commit message
  % endif
  </td>
  <td>${entry.date | time}</td>
</tr>
% endfor
</table>