$def with (ref, rev, path, listing)


<h1>Browse</h1>

<table>
$for l in listing:
    $if not l.name:
        $continue

    $if l.path == path:
        $continue
    <tr><td><pre>$:l.filemode()</pre></td>
        <td>$l.size</td>
        <td>
            $if l.isDir():
                <a href="?ref=$ref&amp;a=browse&amp;rev=$rev&amp;path=$l.path">[+]</a>
        </td>
        <td>
            $if l.isDir():
                <a href="?ref=$ref&amp;a=browse&amp;rev=$rev&amp;path=$l.path">
            $else:
                <a href="?ref=$ref&amp;a=blob&amp;rev=$rev&amp;path=$l.path">
            $l.name</a>
        </td>
    </tr>
</table>