<%inherit file="base.html"/>

<%! import ostree %>

<%include file="partials/refApplication_header.html" />

<%include file="partials/refBrowser_navigation.html" />

<table class="table">
<tr>
  <th>Mode</th>
  <th class="browserTableSize">Size</th>
  <th width="80%">Name</th>
</tr>
% for l in page.listing:
  % if l.filePath == page.path:
    <% continue %>
  % endif

  <tr>
    <td><code>${l.mode}</code></td>
    <td class="browserTableSize">${l.size} bytes</td>
    <td>
      % if l.type == ostree.FileEntry.Dir:
      <a href="?ref=${page.ref}&amp;a=browse&amp;rev=${page.rev}&amp;path=${l.filePath}" class="glyphicon glyphicon-folder-close browser-icon">
      % else:
        <a href="?ref=${page.ref}&amp;a=blob&amp;rev=${page.rev}&amp;path=${l.filePath}" class="glyphicon glyphicon-file">
      %endif
      ${l.fileName}</a>
    </td>
  </tr>
% endfor
</table>