<%inherit file="base.html"/>

<%
from time import strftime as time
import ostree 
%>

<%include file="partials/refApplication_header.html" />

<h2>Commit ${page.commit.rev}</h2>
<strong>Date:</strong> ${page.commit.date | time}<br/>
% if page.parentRev:
    <strong>Parent:</strong> <a href="?ref=${page.ref}&amp;a=commit&amp;rev=${page.parentRev}">${page.parentRev}</a><br/>
% endif
<br/>
<pre>
${page.commit.message}
</pre>

<br/>

<h2>Diff:</h2>
<pre>
%for d in page.diff:
    % if d.mode == ostree.Diff.Added:
<span style="color: green">A</span> \
    % elif d.mode == ostree.Diff.Modified:
<span style="color: blue">M</span> \
    % else:
<span style="color: red">D</span> \
    % endif
&#09;${d.filePath}
% endfor
</pre>