<%inherit file="base.html"/>

<%! from time import strftime as time %>

<h1>Commit ${page.commit.rev}</h1>
<strong>Date:</strong> ${page.commit.date | time}<br/>
% if page.parentRev:
    <strong>Parent:</strong> <a href="?ref=${page.ref}&amp;a=commit&amp;rev=${page.parentRev}">${page.parentRev}</a><br/>
% endif
<br/>
<pre>
${page.commit.message}
Name: ${page.commit.name}
Arch: ${page.commit.arch}
Branch: ${page.commit.branch}
</pre>

<br/>

<h2>Diff:</h2>
<pre>
% for d in page.diff:
    <span style="color:
    % if d.startswith('A'):
        green
    % elif d.startswith('M'):
        blue
    % else:
        red
    % endif
    ">${d}</span>
% endfor
</pre>