<%inherit file="base.html"/>

<h1>Applications</h1>
<div id="appsRow">
% for app in page.apps:
  <a class="refTile" href="?ref=${app.ref}&amp;a=summary">
    <div class="refTileContent">
      <h2>${app.name}</h2>
      <div class="refTileIcon">
        <div class="refTileIconVert">
          % if app.iconData:
          <img src="data:${app.iconType if app.iconType else ''};base64,${app.iconData}">
          % else:
          <img src="/static/generic-app-icon.svg" width=128 height=128>
          % endif
        </div>
      </div>
      <div class="refTileDesc">
        <p>${app.genericName}</p>
      </div>
    </div>
  </a>
% endfor
  <div class="clearfix"></div>
</div>

<h1>Runtimes</h1>
<div class="list-group">
% for runtime in page.runtimes:
    <a class="list-group-item" role="button" data-toggle="collapse" href="#collapse-${runtime.name.replace('.', '-')}">${runtime.name}</a>
    <div class="collapse" id="collapse-${runtime.name.replace('.', '-')}">
      <div class="well">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title">Platform</h3></div>
              <div class="panel-body">
                <ul>
                % for arch, version in page.platformVersions[runtime.name]:
                  <li><a href="?ref=runtime/${runtime.name}.Platform/${arch}/${version}">${arch}/${version}</a></li>
                % endfor
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3 class="panel-title">SDK</h3></div>
              <div class="panel-body">
                <ul>
                % for arch, version in page.sdkVersions[runtime.name]:
                  <li><a href="?ref=runtime/${runtime.name}.Sdk/${arch}/${version}">${arch}/${version}</a></li>
                % endfor
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
% endfor
</div>
