$def with (ref, rev, metadata, log)

$if metadata.has_section('Application'):
    <h1>$metadata.get('Application', 'name')</h1>
    <ul><li><em>Runtime:</em> $metadata.get('Application', 'runtime')</li>
        <li><em>SDK:</em> $metadata.get('Application', 'sdk')</li>
    </ul>
$elif metadata.has_section('Runtime'):
    <h1>$metadata.get('Runtime', 'runtime')</h1>
    <em>SDK:</em> $metadata.get('Runtime', 'sdk')


<h2>Log</h2>
<table>
<tr><th>Revision</th>
    <th>Message</th>
    <th>Date</th>
</tr>
$for entry in log:
    <tr>
        <td><a href="?ref=$ref&amp;a=commit&amp;rev=$entry.rev">$entry.rev</a></td>
        <td>
        $if entry.message:
            $entry.message.split('\n', 1)[0]
        </td>
        <td>$:datestr(entry.date)</td>
    </tr>
</table>
