<%include file="partials/application_header.html" />

<article>
% if page.metadata.description:
    <div class="refSummaryDesc">
    ${page.metadata.description}
    </div>
%endif

%if page.metadata.images:
    <div class="refSummaryScreenshots">
    % for scrshot in page.metadata.images:
        <img src="${scrshot}" class="img-thumbnail center-block gallery-thumbnail" width="40%" />
    % endfor
    <div class="clearfix"></div>
    </div>
% endif
</article>

<article>
<h2>Install</h2>
<pre>xdg-app install --user <abbr data-toggle="tooltip" data-original-title="<code>xdg-app add-remote --user kde https://kde.dvratil.cz</code>" data-html="true">kde</abbr> ${page.ref}</pre>
</article>

<article>
<h2>Requirements</h2>
<ul class="refSummaryReq">
<li><strong>Runtime:</strong> <a href="?ref=${page.metadata.runtime}">${page.metadata.runtime}</a></li>
<li><strong>SDK:</strong> <a href="?ref=${page.metadata.sdk}">${page.metadata.sdk}</a></li>
</ul>
</article>


<%include file="partials/gallery_preview.html" />